
@font-face {
  font-family: 'FuturaBQ-ExtraBoldOblique';
  src: url('FuturaBQ-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),  url('FuturaBQ-ExtraBoldOblique.otf')  format('opentype'),
	     url('FuturaBQ-ExtraBoldOblique.woff') format('woff'), url('FuturaBQ-ExtraBoldOblique.ttf')  format('truetype'), url('FuturaBQ-ExtraBoldOblique.svg#FuturaBQ-ExtraBoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
