.inputDiv *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.inputDiv{
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    /* width: 600px; */
    width: 100%;
    height: 65px;
    /* background-color: red; */
    /* width: 100px; */
    /* border: 1px solid black; */
    /* margin: 10px 0 0 10px; */
}
.inputEl{
    position: relative;
    height: 50px;
    width: 300px;
    width: 100%;
    /* background-color: yellow; */
    border: 1px solid #19b853dd;
    /* cursor: text; */
}
.inputEl input{
    /* width: 100%; */
    width: auto;
    width: calc(100% - 100px);
    height: 100%;
    border: none;
    float: left;
    font-size: 18px;
    font-size: 16px;
    color: #202124;
    /* padding-left: 2px; */
    text-decoration: none;
    cursor: text;
    box-sizing: border-box;
    /* background-color: #7fffd455; */
}
.inputEl input:focus{
    outline: none;
    box-shadow: none;
}
.inputEl .label{
    position: absolute;
    left: 50px;
    top: 13px;
    font-size: 16px;
    display: grid;
    align-content: center;
    justify-content: center;
    color: #202124dd;
    cursor: text;
    transition: all 0.1s ease-in-out;
}
.icon1, .icon2{
    height: 100%;
    width: 50px;
    /* background-color: red; */
    float: left;
    display: grid;
    align-items: center;
    justify-items: center;
    cursor: text;
}
.icon1 img, .icon2 img{
    width: 40%;
    height: auto;
}
.icon2{
    height: 100%;
    width: 50px;
    /* background-color: blue; */
    float: right;
    display: grid;
    align-items: center;
    justify-items: center;
    /* display: none; */
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}
.inputDiv > .inputError{
    width: 100%;
    height: 15px;
    font-size: 12px;
    color: #ff3838;
    font-weight: 900;
    /* background-color: aqua; */
}


@media screen and (max-width: 1150px){
    .inputDiv{
        height: 53px !important;
        /* background-color: red; */
    }
    .inputEl{
        height: 40px !important;
    }
    .inputEl .label{
        font-size: 15px;
        top: 9px !important;
        left: 40px !important;
    }
    .inputEl input{
        font-size: 15px;
        width: calc(100% - 80px) !important;
    }
    .icon1, .icon2{
        width: 40px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 925px){
    .inputDiv{
        height: 46px !important;
        /* background-color: red; */
    }
    .inputEl{
        height: 33px !important;
    }
    .inputEl .label{
        font-size: 15px;
        top: 9px !important;
        left: 33px !important;
    }
    .inputEl input{
        font-size: 15px;
        width: calc(100% - 66px) !important;
    }
    .icon1, .icon2{
        width: 33px !important;
    }
}